@import "simple_calendar";
@import "bootstrap";

@import "home";

.alert {
  position: fixed;
  bottom: 0;
  z-index: 9999;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  background: url("gym.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  margin: 0!important;
  padding: 0!important;
}

.profiler-result {
  display: none;
}

.calendar_card {
  background-color: rgba(245,245,245,0.6);
  box-shadow: 0px 0px 10px rgba(10,10,10,0.5);
}